<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加模型</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="static/css/public.css" media="all">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<!--    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">模型ID</label>
        <div class="layui-input-block">
            <input type="text" name="ID" lay-verify="required" lay-reqtext="模型ID不能为空" placeholder="请输入模型ID" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">模型名</label>
        <div class="layui-input-block">
            <input type="text" name="modelname" lay-verify="required" lay-reqtext="模型名不能为空" placeholder="请输入模型名" value="" class="layui-input">
            <tip>尽量填写有辨识度的名称</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">模型来源</label>
        <div class="layui-input-block">
            <input type="radio" name="modelsource" value="模型训练导入" title="本地上传" checked="">
            <input type="radio" name="modelsource" value="本地上传" title="模型训练导入">
        </div>
    </div>
    
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择本地文件：</label>
        <div class="layui-input-block">
            <input type="file" name="file" id="submitbtn">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>

    $('#submitbtn').change(function (e) {
             var files = e.target.files;
             var formFile = new FormData();
             formFile.append("file", files[0]); //加入文件对象
              $.ajax({
                 url: "/upload-model",
                 data: formFile,
                 type: "post",
                 dataType: "text",
                 cache: false,//上传文件无需缓存
                 processData: false,//用于对data参数进行序列化处理 这里必须false
                 contentType: false, //必须
                 success: function (result) {
                     alert("上传完成!");
                 },
             })
    });
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var data = JSON.stringify(data.field);
            // data = eval('('+json_str+')');
            // // 要更新模型json文件data数组属性：添加下面的一个字典元素
            // var newmodel = {
            //     "id": data['ID'],
            //     "modelname": data['modelname'],
            //     "train": '未训练',
            //     "map": 0,
            //     "current": 0,
            //     "back": 0,
            //     "modelsource": data['modelsource'],
            //     "file":data['file']
            // }
            // // 获取json文件中的json对象
            // jQuery.noConflict();
            // var json_table2 = jQuery.getJSON("api/table2.json", function(data) {
            //     return data;
            // });
            // json_table2 = JSON.stringify(json_table2);
            // json_table2 = eval('('+json_table2+')');
            // json_table2['data'].append(newmodel);

            var index = layer.alert(data, {
                title: '提交成功'
            }, function () {
                // 关闭弹出层
                layer.close(index);
                var iframeIndex = parent.layer.getFrameIndex(window.name);
                parent.layer.close(iframeIndex);
            });

            return false;
        });

    });
</script>
</body>
</html>