<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加模型</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="static/css/public.css" media="all">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<!--    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">模型ID</label>
        <div class="layui-input-block">
            <input type="text" name="ID"  lay-reqtext="填模型id" placeholder="" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">模型名</label>
        <div class="layui-input-block">
            <input type="text" name="modelname" lay-reqtext="填写模型名" placeholder="" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">模型描述</label>
        <div class="layui-input-block">
            <input type="text" lay-reqtext="填写模型描述" placeholder="" value="" class="layui-input">
        </div>
    </div>

</div>
</body>
</html>