<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>数据集上传</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="static/css/public.css" media="all">
    <link rel="stylesheet" href="static/js/lay-module/step-lay/step.css" media="all">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-card-body" style="padding-top: 40px;">
                        <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                            <div carousel-item>
                                <div>
                                    <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">数据集名称:</label>
                                            <div class="layui-input-block">
                                                <input type="text" placeholder="限制50个汉字内" class="layui-input"
                                                    lay-verify="number" required />
                                            </div>
                                        </div>
                                        <!-- <div class="layui-form-item">
                                        <label class="layui-form-label">入款金额:</label>
                                        <div class="layui-input-block">
                                            <input type="number" placeholder="请填写入款金额" value="" class="layui-input" lay-verify="number" required>
                                        </div>
                                    </div> -->
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">数据类型:</label>
                                            <div class="layui-input-block">
                                                <select lay-verify="required">
                                                    <option value="1" selected>图片</option>
                                                    <option value="2">文本</option>
                                                    <option value="2">表格</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="layui-form-item">
                                        <label class="layui-form-label">入款方式:</label>
                                        <div class="layui-input-block">
                                            <select lay-verify="required">
                                                <option value="1" selected>人工入款</option>
                                                <option value="2">修正</option>
                                                <option value="3">活动</option>
                                                <option value="4">佣金</option>
                                            </select>
                                        </div>
                                    </div> -->
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">备注说明:</label>
                                            <div class="layui-input-block">
                                                <textarea placeholder="数据集备注" value=""
                                                    class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit lay-filter="formStep">
                                                    &emsp;下一步&emsp;
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">数据标注状态</label>
                                            <div class="layui-input-block">
                                                <input type="radio" name="sex" value="1" title="有标注" checked="">
                                                <input type="radio" name="sex" value="2" title="无标注">

                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">选择本地数据集：</label>
                                            <div class="layui-input-block">
                                                <input type="file" id="submitbtn" accept=".zip">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button type="button"
                                                    class="layui-btn layui-btn-primary pre">上一步</button>
                                                <button class="layui-btn" lay-submit lay-filter="formStep2">
                                                    &emsp;开始推理&emsp;
                                                </button>
                                            </div>
                                        </div>
                                        <!-- <div class="layui-form-item">
                                        <label class="layui-form-label">账户余额:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux">3000 元（保险箱：1000，现金：2000）</div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">入款金额:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux">
                                                <span style="font-size: 18px;color: #333;">1800 元</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">入款类型:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux">保险箱</div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">入款方式:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux">人工入款</div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">备注说明:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux">备注说明</div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                            <button class="layui-btn" lay-submit lay-filter="formStep2">
                                                &emsp;确认入款&emsp;
                                            </button>
                                        </div>
                                    </div> -->
                                    </form>
                                </div>
                                <div>
                                    <div style="text-align: center;margin-top: 90px;">
                                        <i class="layui-icon layui-circle"
                                            style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                        <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                            推理完成
                                        </div>
                                        <div style="font-size: 14px;color: #666;margin-top: 20px;"></div>
                                    </div>
                                    <div style="text-align: center;margin-top: 50px;">
                                        <button class="layui-btn next">再次推理</button>
                                        <button class="layui-btn layui-btn-primary">查看推理结果</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script>
        $('#submitbtn').change(function (e) {
             var files = e.target.files;
             var formFile = new FormData();
             formFile.append("file", files[0]); //加入文件对象
              $.ajax({
                 url: "/upload-file",
                 data: formFile,
                 type: "post",
                 dataType: "text",
                 cache: false,//上传文件无需缓存
                 processData: false,//用于对data参数进行序列化处理 这里必须false
                 contentType: false, //必须
                 success: function (result) {
                     alert("上传完成!");
                 },
             })
        });
        layui.use(['form', 'step'], function () {
            var $ = layui.$,
                form = layui.form,
                step = layui.step;

            step.render({
                elem: '#stepForm',
                filter: 'stepForm',
                width: '100%', //设置容器宽度
                stepWidth: '750px',
                height: '500px',
                stepItems: [{
                    title: '填写数据集信息'
                }, {
                    title: '数据集导入'
                }, {
                    title: '推理完成'
                }]
            });


            form.on('submit(formStep)', function (data) {
                step.next('#stepForm');
                return false;
            });

            form.on('submit(formStep2)', function (data) {
                step.next('#stepForm');
                return false;
            });
            $('.pre').click(function () {
                step.pre('#stepForm');
            });

            $('.next').click(function () {
                step.next('#stepForm');
                
            });
        })
                
        
    </script>
</body>

</html>